div(layout="row" flex)
  md-sidenav.md-whiteframe-4dp(md-is-locked-open="true" flex)
    md-toolbar#files-tree(layout="column" layout-align="center center")
      .md-toolbar-tools
        md-button.md-raised(
          flex layout="row" layout-align="center center"
          ng-click="vm.oauth('facebook')"
        )
          | Import new file
    md-list
      md-list-item(
        ng-repeat="folder in vm.cwd.files"
        ng-if="folder.kind === 'dir'"
      )
        p
          md-icon(md-font-set="material-icons") folder
          | {{folder.path}}
  md-content#content(flex)
    md-list
      md-list-item(ng-if="vm.path.length" ng-click="vm.parent()")
        md-icon(md-font-set="material-icons") folder
        p ..
      md-list-item(ng-repeat="file in vm.cwd.files" ng-click="vm.action($index)")
        md-icon(ng-if="file.kind === 'dir'" md-font-set="material-icons") folder
        md-icon(ng-if="file.kind === 'file'" md-font-set="material-icons") insert_drive_file
        p {{file.path.split('/').slice(-1)[0]}}
        md-menu
          md-button(ng-click="$mdOpenMenu($event)")
            md-icon(md-font-set="material-icons") more_vert
          md-menu-content(width="6")
            md-menu-item
              md-button
                md-icon(md-font-set="material-icons") file_download
                | Download
            md-menu-item
              md-button
                md-icon(md-font-set="material-icons") assignment_return
                | Move To
            md-menu-item
              md-button
                md-icon(md-font-set="material-icons") mode_edit
                | Rename
            md-menu-item
              md-button
                md-icon(md-font-set="material-icons") delete
                | Delete
