div(layout="row" flex)
  md-sidenav.md-whiteframe-4dp(md-is-locked-open="true" flex)
    md-toolbar#files-tree
      h1.md-toolbar-tools My Files
    md-list
      md-list-item(ng-repeat="folder in vm.path" ng-if="folder.path")
        p {{folder.path}}
      md-list-item
        p {{vm.cwd.path}}
  md-content#content(flex)
    md-list
      md-list-item(ng-if="vm.path.length" ng-click="vm.parent()")
        md-icon(md-font-set="material-icons") folder
        p ..
      md-list-item(ng-repeat="file in vm.cwd.files" ng-click="vm.action($index)")
        md-icon(ng-if="file.kind === 'dir'" md-font-set="material-icons") folder
        md-icon(ng-if="file.kind === 'file'" md-font-set="material-icons") insert_drive_file
        p {{file.path.split('/').slice(-1)[0]}}
