md-content.content(flex layout-align="center center")
  #login(flex layout="column" layout-align="center center")
    md-button.md-raised.login-facebook(
      layout="row" layout-align="center center"
      ng-click="vm.oauth('facebook')"
    )
      | Login with Facebook
    //- ng-click="vm.oauth('google')"
    md-button.md-raised.login-google(
      layout="row" layout-align="center center"
    )
      | Login with Google
