md-content(flex layout-align="center center")
  #login(flex layout="column" layout-align="center center")
    md-button.md-raised.login-facebook(
      layout="row" layout-align="center center"
    )
      | Login with Facebook
    md-button.md-raised.login-google(
      layout="row" layout-align="center center"
    )
      | Login with Google
